	.footer {
	  -webkit-transform:translate3d(0,0,0),
		text-align: center;
		border-top: 1px solid #bcc6cc;
		position: relative;
		bottom: 0px;
		z-index: 2000;
		width: 100% !important;
		background-color:  white;
		display: flex;
		left: 0px;
		max-height: 65px;
		margin-top: 20px;
	}
	.header {
	  padding-top: 0px;
	  color:#ffff80;
	  display:flex;
	  align-items: center;
	  justify-content: center;
	  background-color: #24323c;
	  width: 100% !important;
	  margin-bottom: 20px;
	}
	.nav {
		-ms-flexbox: 1;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		background-color: #24323c
	}
	.cite
		{
			display: flex;
			flex-direction: column;
			justify-item: center;
			align-content: center;
			position: relative;
			margin: 16px 15px;
			overflow: hidden
		}

	.idmlogo {
		display: inline-block;
		margin: 15px 18px 10px 25px;
		height: 35px;
		right: 0px;
	}
	.bmgflogo {
		display: inline-block;
		margin: 15px 18px 10px 25px;
		height: 35px;
		right: 0px;
		
	}
	.link {
		width: 100%;
		display: inline-block;
		position: relative;
		margin: 0px 15px 0px 15px;
		font-size: 14px;
		text-align: right;
		color: #b8860b;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-flex-shrink: 2;
		-ms-flex-negative: 2;
		flex-shrink: 2;
		font-style: normal;
	}
	.column {
		display: flex;
		flex-direction: column;
		flex-start: flex-end;
		margin: 14px 15px;

	}
	.leftrow {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		flex-wrap: '';
		min-width: 200px
	}
	.rightrow {
		display: flex;
		flexDirection: row;
		flexWrap: no
	}
	.copyText {
		font-size: 14px;
		color: #b1bcc5;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-flex-shrink: 2;
		-ms-flex-negative: 2;
		flex-shrink: 2;
		text-align: center;

	}
	body {
    /*background-color: black;*/
    /*color: white;  text color */
  }
  
  .container-fluid {
    padding-left:0px!important;
    padding-right:0px!important;
  }
  .row {
    margin-top:15px;
    max-width: 100%;
    margin-left:0px;
  }
  .header h1 {
    margin-top:10px;
  }
  h2 {
    margin-top:0px!important;
    margin-bottom:0px!important;
  }
  
  
  /* for content */
  .paramLabel {
    display:"inline";
    min-width: 100px;
  }